body, html {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

body {
    /*background-color: #222;*/
    background-color: #222;
}

hr {
    margin: .5rem 0rem;
    border-color: #888888;
}

.breadcrumb {
    background-color: #343a40;
    border-radius: 0px;
    padding-top: 0;
    padding-bottom: .3rem;
}

.breadcrumb-item.active {
    color: #F1F1F1;
}

p {    
    font-size: 1.2rem;
    color: #F1F1F1;
    margin-bottom: 0.5rem;  
}
p.ul-title {
    margin-bottom: 0;
}

.btn-link {
    display: flex;
}

.btn-primary {
    text-shadow: #806C00 2px 2px;
    background-color: #BFA300;
    font-weight: 700;
    outline: none;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #806C00;
    box-shadow: 0 0 0 0.2rem #BFA300;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #A68D00;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #BFA300;
}

.jumbotron-sm {
    background-color: #343a40;
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.card-extra {
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 5%;
    right: 3%;
}

.card {
    padding: 0;
    background-color: #444a50;
    color: white;
    border-radius: 15px;
}

.card-header {
    padding-top: .5rem;
    padding-bottom: 0;
}

h2,h3 {
    font-weight: 300;
}

.jumbotron {
    border-radius: 15px;
}

.card-body {
    padding-top: .5rem;
    padding-bottom: .7rem;
    background-color: #2D3138;
    border-radius: 0 0 15px 15px;
}

.card-body p {
    font-weight: 300;
}

code {
    color: black;
}

.code-block {
    display: block;
    border: 2px solid #9F9F9F;
    padding: .2rem .4rem;
    margin-bottom: .5rem;
    background-color: #DDD;
    color: black;
}

@media (max-width: 542px) {
    .code-block::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    .code-block::-webkit-scrollbar:vertical {
        width: 11px;
    }
    
    .code-block::-webkit-scrollbar:horizontal {
        height: 11px;
        background-color: #BFBFBF;
    }
    
    .code-block::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #888888;
    }
}

.menurapido-fixed {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 23.39%;
}