<div class="card mb-5" name="{{card_title}}" data-aos="fade-right" data-aos-once="true" data-aos-anchor-placement="top-bottom" {{data_aos|safe}}>
    <div class="card-header">
        <h2 class="card-title">{{card_title}}</h2>
    </div>
    <div class="card-body">
        {{card_body|safe}}
    </div>
</div>
