<div class="jumbotron jumbotron-sm mb-5" name="{{jumbotron_title}}" data-aos="fade-right" data-aos-once="true" data-aos-anchor-placement="top-bottom" {{data_aos|safe}}>
    <h1 class="display-4 text-white">{{jumbotron_title}}</h1>
    <p class="lead mb-4">{{jumbotron_lead}}</p>
    {{jumbotron_body|safe}}
</div>
