<div class="col-lg-3 mb-lg-0 mb-3">
    <div class="card" data-aos="flip-up" id="menurapido">
        <div class="card-header">
            <h2 class="card-title">Menu rápido 
                <a class="d-lg-none d-inline-block float-right" data-toggle="collapse" href="#menurapidoCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="text-white fas fa-caret-down"></i>
                </a>
            </h2>
        </div>
        <div class="collapse show" id="menurapidoCollapse">
            <div class="card-body">
                {{ links|safe }}
            </div>
        </div>
    </div>
</div>