{% extends "layout.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="pl-2 pl-md-4 breadcrumb">
        <li class="breadcrumb-item"><a title="Ir para Página inicial" href="{{url_for('index')}}">Instrumentos</a></li>
        <li class="breadcrumb-item"><a title="Ir para Instrumento 6030A" href="{{url_for('instrumento_6030a')}}">Eq. 6030A</a></li>
        <li class="breadcrumb-item active" aria-current="page">Como conectar</li>
    </ol>
</nav>
{% endblock %}

{% block before_container %}
<div class="row mx-0">
    {% with links=
        '<a href="https://www.ni.com/pt-br/support/downloads/drivers/download/packaged.ni-visa.346210.html" class="btn btn-lg btn-primary btn-block" target="_blank">
            <i class="fas fa-download"></i> Download do driver NI-VISA
        </a>
        <a href="https://www.keysight.com/br/pt/lib/software-detail/computer-software/keysight-instrument-control-bundle-download-1184883.html" class="btn btn-lg btn-primary btn-block" target="_blank">
            <i class="fas fa-download"></i> Download do driver Keysight IO
        </a>
        <a href="https://pyvisa.readthedocs.io/en/latest" class="btn btn-lg btn-primary btn-block" target="_blank">
            <i class="fas fa-external-link-alt"></i> Documentação do PyVISA
        </a>
        <a href="' + url_for('instrumento_6030a') + '" class="btn btn-lg btn-secondary btn-block">
            Voltar
        </a>' 
    %}
        {% include 'includes/menurapido.html' %}
    {% endwith %}


    <div class="col-lg-6">
        <h1 class="text-white text-center mb-4">Como conectar 6030A (com python)</h1>
        <img class="col-12 mb-4" src="../static/img/6030A.png">

        {% with card_title='Conectando o instrumento pela USB/GPIB via Agilent 82357B', card_body=
            '<p>Ao conectar via USB no Windows 10, o instrumento deve aparecer no gerenciador de dispositivos da seguinte forma:</p>
            <img class="col-md-5 col-12 my-2" src="../static/img/6030A_1.png">
            <p>Para instalar o driver correto para o instrumento, deve-se fazer o download e instalar o NI-VISA 20.0 ou superior, além do Keysight IO. Os endereços para download são:</p>
            <hr>
            <a href="https://www.ni.com/pt-br/support/downloads/drivers/download/packaged.ni-visa.346210.html" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Download do driver NI-VISA</a>
            <a href="https://www.keysight.com/br/pt/lib/software-detail/computer-software/keysight-instrument-control-bundle-download-1184883.html" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Download do driver Keysight IO</a>
            <hr>
            <p>Mais informações</p>
            <hr>
            <a href="http://markding.github.io/2015/04/07/GPIB-pyvisa.html" class="btn btn-primary" target="_blank"><i class="fas fa-external-link-alt"></i> GPIB - Pyvisa</a>
            <hr>
            <p>Após a instalação, será necessário reiniciar o Windows (reboot).</p>
            <p>Ao reconectar via USB no Windows 10, o instrumento deve aparecer no gerenciador de dispositivos da seguinte forma:</p>
            <img class="col-md-5 col-12 my-2" src="../static/img/6030A_2.png">'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Instalando a biblioteca PyVISA', card_body=
            '<a href="https://pyvisa.readthedocs.io/en/latest" class="btn btn-primary" target="_blank">
                <i class="fas fa-external-link-alt"></i> Documentação do PyVISA
            </a>
            <hr>
            <p>( <i class="fas fa-terminal"></i> ) Comando Terminal:</p> 
            <pre class="code-block">pip install pyvisa pyvisa-py pyusb</pre>
            <pre class="code-block">pip install gpib-ctypes</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Verificando a instalação PyVISA', card_body=
            '<p>( <i class="fas fa-terminal"></i> ) Comando Terminal:</p>
            <pre class="code-block">python -m visa info</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        

        {% with card_title='Funções de controle remoto do equipamento', card_body=
            '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
            <pre class="code-block">
def query(inst, command):
    result = inst.query(command)
    print("\\t", command, "::", result)
    return result

def vquery(inst, command):
    result = inst.query(command)
    index_space = result.index(" ")
    result = float(result[index_space:])
    print("\\t", command, "::", result)
    return result

def write(inst, command):
    inst.write(command)
    result = inst.query("ERR?")
    print(command, "::", "OK" if result == "ERR   0\\r\\n" else result)
    return None

def power_supply(power_supply_actual, magnetic_field_actual, magnetic_field_target):
    result = power_supply_actual + (magnetic_field_target - magnetic_field_actual) * 0.1
    return result</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Identificando instrumentos de medição conectados ao computador', card_body=
            '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
            <pre class="code-block">
import pyvisa
manager = pyvisa.ResourceManager()
manager.list_resources()</pre>                
            <p>A fonte de alimentação CC corresponde ao quinto instrumento listado (GPIB::5::INSTR). O instrumento deve estar conectado à porta GPIB.</p>
            <pre class="code-block">
inst = manager.open_resource("GPIB0::5::INSTR")
query(inst, "ID?")
vquery(inst, "OUT?") # State of the output On/Off function
vquery(inst, "STS?") # 9-bit Status register
vquery(inst, "FOLD?") # State of the foldback protection function
vquery(inst, "DLY?") # Delay value
vquery(inst, "ISET?") # Current setting
vquery(inst, "VSET?") # Current voltage</pre>
            <p>A partir deste momento, o led "RMT" da fonte deve acender indicando que estará sendo controlado remotamente.</p>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        

        {% with card_title='Definindo limites de segurança para a corrente e para a tensão de saída', card_body=
            '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
            <pre class="code-block">
def init_inst_power_supply():
    write(inst, "CLR")
    write(inst, "IMAX 11 A")
    write(inst, "VMAX 120 V")

init_inst_power_supply()</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        

        {% with card_title='Controlando a corrente e tensão de saída da fonte de alimentação', card_body=
        '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
        <pre class="code-block">
init_inst_power_supply()

# v = input do usuario
# i = input do usuario

write(inst, "VSET {v} V")
write(inst, "ISET {i} A")</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Variando a tensão de saída da fonte de alimentação de 10 a 50V em passos de 10V', card_body=
        '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
        <pre class="code-block">
import time
init_inst_power_supply()

for v in range(10, 51, 10):
    write(inst, f"VSET {v} V")
    time.sleep(1)
    v_actual_previous = 0
    v_actual = vquery(inst, "VOUT?")
    while v_actual_previous < v_actual < v:
        time.sleep(1)
        v_actual_previous = v_actual
        v_actual = vquery(inst, "VOUT?")</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Variando a tensão de saída da fonte de alimentação em função da medição do campo magnético', card_body=
        '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
        <pre class="code-block">
import time
init_inst_power_supply()

for field_magnetic_actual in [0, 40, 90, 150, 240, 80, 200, 230, 180, 200, 200, 200]:
    print("\\tmagnetic_field", "::", field_magnetic_actual)
    v_actual = vquery(inst, "VOUT?")
    v = power_supply(v_actual, field_magnetic_actual, 200)
    write(inst, f"VSET {v} V")
    time.sleep(3)</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
    </div>
</div>

{% with href=url_for('instrumento_6030a') %}
    {% include 'includes/voltar_fimdapagina.html' %}
{% endwith %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/aos_init.js"></script>
<script src="../static/js/menu_rapido.js"></script>
{% endblock %}