{% extends "layout.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="pl-2 pl-md-4 breadcrumb">
        <li class="breadcrumb-item"><a title="Ir para Página inicial" href="{{url_for('index')}}">Instrumentos</a></li>
        <li class="breadcrumb-item"><a title="Ir para Instrumento 34411A" href="{{url_for('instrumento_34411a')}}">Eq. 34411A</a></li>
        <li class="breadcrumb-item active" aria-current="page">Como conectar</li>
    </ol>
</nav>
{% endblock %}

{% block before_container %}
<div class="row mx-0">
    {% with links=
        '<a href="https://www.ni.com/pt-br/support/downloads/drivers/download/packaged.ni-visa.346210.html" class="btn btn-lg btn-primary btn-block" target="_blank">
            <i class="fas fa-download"></i> Download do driver NI-VISA
        </a>
        <a href="https://pyvisa.readthedocs.io/en/latest" class="btn btn-lg btn-primary btn-block" target="_blank">
            <i class="fas fa-external-link-alt"></i> Documentação do PyVISA
        </a>
        <a href="' + url_for('instrumento_34411a') + '" class="btn btn-lg btn-secondary btn-block">
            Voltar
        </a>' 
    %}
        {% include 'includes/menurapido.html' %}
    {% endwith %}
    <div class="col-lg-6">
        <h1 class="text-white text-center mb-4">Como conectar 34411A (com python)</h1>
        <img class="col-12 mb-4" src="../static/img/34411A.png">


        {% with card_title='Conectando o instrumento pela USB', card_body=
            '<p>Ao conectar via USB no Windows 10, o instrumento deve aparecer no gerenciador de dispositivos da seguinte forma:</p>
            <img class="col-md-5 col-12 my-2" src="../static/img/34411A_1.png">
            <p>Para instalar o driver correto para o instrumento, deve-se fazer o download e instalar o NI-VISA 20.0 ou superior.</p>
            <hr>
            <a href="https://www.ni.com/pt-br/support/downloads/drivers/download/packaged.ni-visa.346210.html" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Download do driver NI-VISA</a>
            <hr>
            <p>Após a instalação, será necessário reiniciar o Windows (reboot).</p>
            <p>Ao reconectar via USB no Windows 10, o instrumento deve aparecer no gerenciador de dispositivos da seguinte forma:</p>
            <img class="col-md-5 col-12 my-2" src="../static/img/34411A_2.png">'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Instalando a biblioteca PyVISA', card_body=
            '<a href="https://pyvisa.readthedocs.io/en/latest" class="btn btn-primary" target="_blank">
                <i class="fas fa-external-link-alt"></i> Documentação do PyVISA
            </a>
            <hr>
            <p>( <i class="fas fa-terminal"></i> ) Comando Terminal:</p> 
            <pre class="code-block">pip install pyvisa pyvisa-py pyusb</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Verificando a instalação PyVISA', card_body=
            '<p>( <i class="fas fa-terminal"></i> ) Comando Terminal:</p>
            <pre class="code-block">python -m visa info</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        
        
        {% with card_title='Identificando instrumentos de medição conectados ao computador', card_body=
            '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
            <pre class="code-block">
import pyvisa
manager = pyvisa.ResourceManager()
manager.list_resources()</pre>                
            <p>Neste caso, o primeiro instrumento listado, conectado à USB, será utilizado para medições:</p>
            <pre class="code-block">
inst = manager.open_resource(manager.list_resources()[0])
print(inst.query("*IDN?"))
print(inst.query("CONF?"))</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        

        {% with card_title='Medindo a tensão contínua fornecida ao instrumento selecionado', card_body=
            '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
            <pre class="code-block">
inst.write("*CLS")
inst.write("CONF:VOLT:DC AUTO")
m = inst.query("READ?")
print("Tensão medida:", m)
print("{:.10f} V DC".format(float(m)))
print("{:.10f} mV DC".format(float(m)*1e+3))</pre>
            <p>Ou, alternativamente, usando comando MEASure:</p>
            <pre class="code-block">
m = inst.query("MEAS:VOLT:DC?")
print("Tensão medida:", m)</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Medindo a corrente contínua fornecida ao instrumento selecionado', card_body=
            '<p>( <i class="fab fa-python"></i> ) Comando Python:</p>
            <pre class="code-block">
inst.write("*CLS")
inst.write("CONF:CURR:DC AUTO")
m = inst.query("READ?")
print("Corrente medida:", m)
print("{:.10f} A DC".format(float(m)))
print("{:.10f} µA DC".format(float(m)*1e+6))</pre>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
    </div>
</div>

{% with href=url_for('instrumento_34411a') %}
    {% include 'includes/voltar_fimdapagina.html' %}
{% endwith %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/aos_init.js"></script>
<script src="../static/js/menu_rapido.js"></script>
{% endblock %}