{% extends "layout.html" %}

{% block before_container %}
<div class="row mx-0">
    <div class="offset-lg-3 col-lg-6">
        <h1 class="text-white text-center mt-5 mb-4">Automação BME</h1>
        {% with jumbotron_title='Instrumentos', jumbotron_lead='instrumentos compatíveis para realizar experimentos de birrefrigência magnética estática.', 
        jumbotron_body=
        '<a class="btn btn-primary btn-lg col-lg-5 col-8" href="' + url_for('instrumentos') + '" role="button">Ver instrumentos</a>'
        %}
            {% include 'includes/jumbotron.html' %}
        {% endwith %}


        {% with jumbotron_title='Experimentos', data_aos='data-aos-delay="50"', jumbotron_lead='caso tenha instrumentos compatíveis conectados, você pode realizar experimentos.', 
        jumbotron_body=
        '<a class="btn btn-primary btn-lg col-lg-5 col-8" href="' + url_for('operar_instrumentos') + '" role="button">Fazer experimento</a>'
        %}
            {% include 'includes/jumbotron.html' %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="../static/js/aos_init.js"></script>
{% endblock %}