{% extends "layout.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="pl-2 pl-md-4 breadcrumb">
        <li class="breadcrumb-item"><a title="Ir para Página inicial" href="{{url_for('index')}}">Instrumentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eq. 6030A</li>
    </ol>
</nav>
{% endblock %}

{% block before_container %}
<div class="row mx-0">
    {% with links=
        '<a href="' + url_for('como_conectar_6030a') + '" class="btn btn-lg btn-primary btn-block">
            <i class="fas fa-book"></i> Como conectar
        </a>
        <a href="#" name="botao-operar" class="btn btn-lg btn-primary btn-block">
            <i class="fas fa-weight"></i> Operar 6030A
        </a>
        <a href="' + url_for('instrumentos') + '" class="btn btn-lg btn-secondary btn-block">
            Voltar
        </a>'
    %}
        {% include 'includes/menurapido.html' %}
    {% endwith %}


    <div class="col-lg-6">
        <h1 class="text-white text-center mb-4">6030A Power Supply</h1>
        {% with card_title='Informações', card_body=
            '<p class="ul-title">Faixas de saída</p>
            <ul>
                <li>Tensão: 0 a 200 V</li>
                <li>Corrente: 0 a 17 A</li>
            </ul>
            <p class="ul-title">Precisão de programação a 25°C ±5°C</p>
            <ul>
                <li>Tensão: 0,035% + 145 mV</li>
                <li>Corrente: 0,2% + 25 mA</li>
            </ul>
            <p class="ul-title">Ripple & ruído (20 Hz a 20 MHz)</p>
            <ul>
                <li>Tensão rms: 22 mV</li>
                <li>Tensão pico a pico: 50 mV</li>
                <li>Corrente rms: 15 mA</li>
            </ul>
            <p class="ul-title">Precisão de readback a 25°C ±5°C</p>
            <ul>
                <li>Tensão: 0,08% + 80 mV</li>
                <li>Corrente: 0,36% + 15 mA</li>
            </ul>
            <p>-Suporte do produto foi transferido da Agilent para a Keysight.</p>
            <a href="https://www.keysight.com/br/pt/product/6030A/system-autoranging-dc-power-supply-200v-17a.html" class="btn btn-primary" target="_blank">
                <i class="fas fa-external-link-alt"></i> Página oficial do produto
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        

        {% with card_title='Interfaciamento', card_body=
            '<p class="ul-title">Compatibilidades:</p>
            <ul>
                <li>Cabo GPIB</li>
            </ul>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Utilização', card_body=
            '<p>Informações para conectar o equipamento no computador pela primeira vez:</p>
            <a href="' + url_for('como_conectar_6030a') + '" class="btn btn-primary mb-3">
                <i class="fas fa-book"></i> Como conectar
            </a>
            <p>Se o equipamento estiver conectado no computador que hospeda esse site você pode operá-lo:</p>
            <a href="#" class="btn btn-primary" name="botao-operar">
                <i class="fas fa-weight"></i> Operar 6030A
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}


        {% with card_title='Guias', card_body=
            '<a href="https://www.keysight.com/br/pt/assets/9018-05586/user-manuals/9018-05586.pdf" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-file-download"></i> Guia do usuário
            </a>
            <a href="https://www.keysight.com/br/pt/assets/9018-83366/help-files/9018-83366.zip" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-file-download"></i> Guia do programador
            </a>
            <a href="https://www.keysight.com/br/pt/assets/9018-05587/quick-start-guides/9018-05587.pdf" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-file-pdf"></i> Guia de quick start - PDF
            </a>
            <a href="http://ridl.cfd.rit.edu/products/manuals/Agilent/oscilloscopes/IO_Libraries_Suite_15_Connectivity_Guide.pdf" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-file-pdf"></i> Guia de conectividade - PDF
            </a>
            <a href="https://www.keysight.com/br/pt/assets/9018-05591/service-manuals/9018-05591.pdf" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-file-download"></i> Manuais de serviço
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
        

        {% with card_title='Links diversos', card_body=
            '<a href="https://www.manualslib.com/download/1730494/Agilent-Technologies-82357b.html" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-file-download"></i> Cabo GPIB
            </a>
            <a href="https://www.keysight.com/br/pt/lib/software-detail/driver/34410a-34411a-l4411a-digital-multimeter-ivi-and-matlab-instrument-drivers-1639470.html" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-download"></i> Driver de instrumento (não ideal)
            </a>
            <a href="https://www.agilent.com/en/keysight-electronic-measurement-products" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fas fa-external-link-alt"></i> Produtos eletrônicos de medição keysight
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
    
        
        {% with card_title='Vídeos', card_body=
            '<a href="https://www.youtube.com/watch?v=WJW-g6YK5zI" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fab fa-youtube"></i> Digitizing with a Digital Multimeter using Agilent 34411A
            </a>
            <a href="https://www.youtube.com/watch?v=DUJpL9pMy8Y" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fab fa-youtube"></i> How To Automate Rigol [and most other] Test-Equipment With Python and SCPI
            </a>
            <a href="https://www.youtube.com/watch?v=a0VKY9klUjQ" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fab fa-youtube"></i> Controlling Measurement Equipment with Python and SCPI via VXI-11 and USBTMC
            </a>
            <a href="https://www.youtube.com/watch?v=zOByx3Izf5U" class="btn btn-lg btn-primary btn-block" target="_blank">
                <i class="fab fa-youtube"></i> PID Controller Implementation in Software
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
    </div>
</div>

{% with href=url_for('instrumentos') %}
    {% include 'includes/voltar_fimdapagina.html' %}
{% endwith %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/equipamento_34411a.js"></script>
<script src="../static/js/menu_rapido.js"></script>
{% endblock %}