{% extends "layout.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="pl-2 pl-md-4 breadcrumb bg-dark">
        <li class="breadcrumb-item active" aria-current="page">Instrumentos</li>
    </ol>
</nav>
{% endblock %}

{% block before_container %}
<div class="row mx-0">
    {% with links=
        '<a href="' + url_for('index') + '" class="btn btn-lg btn-secondary btn-block">
            Voltar
        </a>'
    %}
        {% include 'includes/menurapido.html' %}
    {% endwith %}

    <div class="col-lg-6">
        <h1 class="text-white text-center mb-4">Instrumentos</h1>
        {% with card_title='34411A Digital Multimeter', card_body=
            '<p>Multímetro digital de 6 ½ dígitos com desempenho aprimorado.</p>
            <a class="btn btn-primary btn-lg col-lg-5 col-8" href="' + url_for('instrumento_34411a') + '" role="button">
                Ver 34411A
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}

        {% with card_title='6030A Power Supply', data_aos='data-aos-delay="50"', card_body=
            '<p>Fonte de alimentação CC de sistema com seleção automática de faixa, 200V, 17A.</p>
            <a class="btn btn-primary btn-lg col-lg-5 col-8" href="' + url_for('instrumento_6030a') + '" role="button">
                Ver 6030A
            </a>'
        %}
            {% include 'includes/card.html' %}
        {% endwith %}
    </div>
</div>

{% with href=url_for('index') %}
    {% include 'includes/voltar_fimdapagina.html' %}
{% endwith %}

{% endblock %}

{% block scripts %}
{{super()}}
<script src="../static/js/aos_init.js"></script>
<script src="../static/js/menu_rapido.js"></script>
{% endblock %}