{% extends "layout.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="pl-2 pl-md-4 breadcrumb">
        <li class="breadcrumb-item"><a title="Ir para Página inicial" href="{{url_for('index')}}">Página inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pagina2</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-sm-1 col-sm-10 col-12">
        <div class="card mb-4" data-aos="fade-right">
            <div class="card-header">
                <h2 class="card-title">Title1</h2>
            </div>
            <div class="card-body">
                <p>Text1</p>
            </div>
        </div>
        <div class="card mb-4" data-aos="fade-right" data-aos-delay="50">
            <div class="card-header">
                <h2 class="card-title">Title2</h2>
            </div>
            <div class="card-body">
                <p>Text2</p>
            </div>
        </div>
    </div>
</div>

<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4 mb-5" data-aos="zoom-out" data-aos-anchor-placement="bottom-bottom">
    <a href="{{url_for('index')}}" class="btn btn-lg btn-secondary btn-block">Voltar</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/aos_init.js"></script>
{% endblock %}